flask
langchain
langchain-google-genai
langchain-pinecone
langchain-huggingface
pinecone-client
python-dotenv
bcrypt
flask-bcrypt
sentence-transformers
gunicorn
pypdf
langchain-community
langchain-core
