flask
gunicorn
python-dotenv
bcrypt
flask-bcrypt
pypdf
langchain==0.3.7
langchain-community==0.3.26
langchain-core==0.3.75
langchain-google-genai==2.1.12
langchain-pinecone==0.2.13
langchain-huggingface
pinecone-client
sentence-transformers
